<div>
    <form [formGroup]="cricketerForm" (ngSubmit)="onSubmit()">
  
      <div>
        <label for="cricketerId">Cricketer ID</label>
        <input id="cricketerId" formControlName="cricketerId" type="number" placeholder="Enter Cricketer ID">
        <!-- <div *ngIf="cricketerForm.get('cricketerId')?.invalid && cricketerForm.get('cricketerId')?.touched">
          <small class="class-error">Cricketer ID is required and must be a positive number.</small>
        </div> -->
      </div>
  
      <div>
        <label for="teamId">Team ID</label>
        <input id="teamId" formControlName="teamId" type="number" placeholder="Enter Team ID">
        <!-- <div *ngIf="cricketerForm.get('teamId')?.invalid && cricketerForm.get('teamId')?.touched">
          <small class="class-error">Team ID is required and must be a positive number.</small>
        </div> -->
      </div>
  
      <div>
        <label for="cricketerName">Cricketer Name</label>
        <input id="cricketerName" formControlName="cricketerName" placeholder="Enter Cricketer Name" type="text">
        <!-- <div *ngIf="cricketerForm.get('cricketerName')?.invalid && cricketerForm.get('cricketerName')?.touched">
          <small class="class-error">Cricketer Name is required and must be at least 2 characters.</small>
        </div> -->
      </div>
  
      <div>
        <label for="age">Age</label>
        <input id="age" formControlName="age" placeholder="Enter Age" type="number">
        <!-- <div *ngIf="cricketerForm.get('age')?.invalid && cricketerForm.get('age')?.touched">
          <small class="class-error">Enter a valid age</small>
        </div> -->
      </div>
  
      <div>
        <label for="nationality">Nationality</label>
        <input type="text" id="nationality" formControlName="nationality" placeholder = "Enter the Nationality">
        <!-- <div *ngIf = "cricketerForm.get('nationality')?.invalid && cricketerForm.get('nationality')?.touched">
            <small> Enter a valid Nationality</small>
        </div> -->
      </div>
  
      <div>
        <label for="experience">Experience</label>
        <input type="number" name="experience" id="experience" formControlName ="experience" placeholder="Enter the experience">
        <!-- <div *ngIf = "cricketerForm.get('experience')?.invalid && cricketerForm.get('nationality')?.touched">
            <small>Enter a valid required</small>
        </div> -->
      </div>
  
      <div>
        <label for="role">Role</label>
        <input type="text" name="role" id="role" formControlName="role" placeholder=" Enter the Role">
        <!-- <div *ngIf = "cricketerForm.get('role')?.invalid && cricketerForm.get('role')?.touched">
            <small>Role is required</small>
        </div> -->
      </div>
  
      <div>
        <label for="totalRuns">Total Runs</label>
        <input id="totalRuns" formControlName="totalRuns" placeholder="Enter Total Runs" type="number">
        <!-- <div *ngIf="cricketerForm.get('totalRuns')?.invalid && cricketerForm.get('totalRuns')?.touched">
          <small class="class-error">Total Runs are required</small>
        </div> -->
      </div>
  
      <div>
        <label for="totalWickets">Total Wickets</label>
        <input type="number" formControlName="totalWickets" id="totalWickets" placeholder="Enter Total Wickets">
        <!-- <div *ngIf="cricketerForm.get('totalWickets')?.invalid && cricketerForm.get('totalWickets')?.touched">
          <small class="class-error">Total Wickets are required</small>
        </div> -->
      </div>
      <button type="submit">Create Cricketer</button>
      <button type="button" (click)="resetForm()">Reset Form</button>
    </form>
  
    <div *ngIf="successMessage" class="success">
      <p>{{ successMessage }}</p>
    </div>
  
    <div *ngIf="errorMessage" class="error">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
  